<%= render 'layouts/error' %>
<div class="col-md-10 col-md-offset-1">
  <h2>Authorized Users</h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Remove Access</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr data-link="<%= user_path(user) %>">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user_status(user) %>
                <% unless current_account.owner == user || user.invitation_accepted? %>
                  <%= form_for(User.new, url: user_invitation_path) do |f| %>
                    <%= f.hidden_field :email, :value => user.email %>
                    <%= f.submit 'Resend Invite', class: 'btn btn-default' %>
                  <% end %>  
                <% end %>                     
              </td>
              <td>
                <% unless current_account.owner == user %>
                  <%= link_to '', user_path(user), confirm: 'Are you sure you want to delete this user, no take backsies?', method: :delete, :class => 'glyphicon glyphicon-remove text-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= form_tag change_account_path, :class => "row" do %> 
        <div class="col-xs-4">
          <%= collection_select :user_account, :id, current_user.user_accounts.map { |x| OpenStruct.new(:id => x.account_id, :name => x.account.name) }, :id, :name, {prompt: "Select an account"}, {class: "form-control"}  %>
        </div>
        <%= submit_tag "Select Account", class: "btn btn-large btn-primary" %><%= link_to "  Add another account", add_account_path(:plan => 'gold') %>
        
      <% end %>
      
      <h3 class="extra-margin-top">Invite User</h3>
      <%= form_for(User.new, url: invite_path,
                                          html: { class: 'row' }) do |f| %>
        <div class="col-xs-4">
          <%= f.text_field :name, placeholder: "Enter name", label: false, class: "form-control" %>
        </div>
        <div class="col-xs-4">
          <%= f.text_field :email, placeholder: "Enter email", label: false, class: "form-control" %>
        </div>
        <%= f.submit 'Invite User', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>



