


<%= simple_form_for(@client, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :client_name %>
  <%= f.input :address, :input_html => { :rows => 5 } %>
  <%= f.input :notes, :input_html => { :class => 'span7', :rows => 3 } %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-warning' %>
    <%= link_to 'Cancel', @client, :class => 'btn' %>
    <% if params[:action] == "edit" %>
      <%= link_to ' Delete', client_path(@client), confirm: 'Are you sure you want to delete this client, no take backsies?', method: :delete, :class => 'btn float_right' %>
    <% end %>
         
  </div>
<% end %>