<div class="container">
  <div class="row">
    <div class="span6">
    <%= render 'layouts/error' %>
    	<h3>Clients</h3>
    </div>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Client name</th>
      <th>Address</th>
    </tr>

  <% @clients.each do |client| %>
    <tr data-link="<%= client_path(client) %>">
      <td><%= client.name %></td>
      <td><%= client.address.gsub(/\n/, '<br/>').html_safe %></td>
    </tr>
  <% end %>
  </table>

  <br/>

  <%= link_to 'Add a New Client', new_client_path, :class => 'btn' %>
</div>