<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>Add a Client</h2>
      <%= form_for @client do |f| %>
      <%= form_group_for f, :name, opts= {:label => "Client Name"} do %>
          <%= f.text_field :name, class: 'form-control', autofocus: true %>
      <% end %>
      <%= form_group_for f, :address do %>
          <%= f.text_area :address, class: 'form-control' %>
      <% end %>

      <%= f.submit class: 'btn btn-primary' %>
<% end %>
  </div>
</div>