<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h2>Try the <%=@account.plan.capitalize %> Plan</h2>
      <h2>Free for a 30 Day Trial</h2>
    </div>

    <%= form_for @account do |f| %>
      
      <%= f.hidden_field :plan, :value => @account.plan %>
      <%= form_group_for f, :name, opts= {:label => "Your Company or Organization"} do %>
          <%= f.text_field :name, class: 'form-control' %>
      <% end %>
      <% unless current_user %>
        <%= f.fields_for :owner do |o| %>
          <%= form_group_for o, :name, opts= {:label => "Your Full Name"} do %>
            <%= o.text_field :name, class: 'form-control', autofocus: true %>
          <% end %>
          <%= form_group_for o, :email do %>
            <%= o.text_field :email, class: 'form-control', autofocus: true %>
          <% end %>
          <%= form_group_for o, :password do %>
            <%= o.password_field :password, class: 'form-control' %>
          <% end %>
          <%= form_group_for o, :password_confirmation do %>
            <%= o.password_field :password_confirmation, class: 'form-control' %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% unless current_user %>
  <p>Already a user and need another account? <%= link_to "Add another account using the same username and password", add_account_path(:plan => 'gold') %></p>
  <% end %>
</div>
  
